<div ng-controller="PagesController">
  <% unless @categories.empty? %>
  <ul>
    <% @categories.each do |category| %>
      <li ng-click="displayCategory(<%= category.id %>, '<%= category.name %>')"><%= category.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
